node_modules

.env
.env.local
.DS_Store
.cache

# Next.js build output
/.next/
/out/

# Vercel Build Output API bundle
/.vercel/

# Runtime server log
/.run/

# Generated Prisma client
/node_modules/.prisma/
.vercel
.env*

# TypeScript incremental build cache
tsconfig.tsbuildinfo
